/*Centering the tree*/
#documents_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*List settings*/

/*Remove list dots*/
ul {
    list-style: none;
}

/*Increase font size*/
ul.tree {
    font-size: 150%;
}

/*Horizontal lines*/
ul.tree ul {
    border-left: .25em solid gray;
    margin-left: .7em;
}

/*Some enhancements for better view*/
span {
    width: 10em;
    display: block;
    cursor: pointer;
}

/*Shrinking list*/
li[aria-expanded="false"] > ul {
    display: none;
}

/*Expanding list*/
li[aria-expanded="true"] > ul {
    display: block;
}

/*Icons (glyphicon)*/

span:before {
    font-family: "Glyphicons Halflings";
    margin-right: 0.3em;
    margin-left: 0.3em;
}

/*Root*/
.root > span:before {
    content: '\e021 ';
}

/*Closed folder*/
.folder[aria-expanded="false"] > span:before {
    content: '\e117 ';
}

/*Open folder*/
.folder[aria-expanded="true"] > span:before {
    content: '\e118 ';
}

/*Loading spinner*/
.folder.loading[aria-expanded="true"] > span:before {
    font-family: FontAwesome;
    content: '\f110 ';
    animation: fa-spin 2s infinite linear;
}

/*File*/
.file > span:before {
    content: '\e022 ';
}

/*Hovering and focusing*/

/*Focused item icon color*/
span.focus:before {
    color: darkgoldenrod;
}

/*Hover item style*/
*:not(.context-menu-item) > span:hover {
    background-color: #DDDDDD;
}


/*Drag border*/
span.over {
    border: 2px solid green;
    border-image-source: linear-gradient(lightgreen, darkgreen);
    border-image-slice: 2;
}


/*Text edit cursor*/
.editable {
    cursor: text;
}
